contourpy==1.0.7
cycler==0.11.0
deepdiff==6.3.0
dnspython==2.3.0
fonttools==4.39.3
kiwisolver==1.4.4
llvmlite==0.39.1
matplotlib==3.7.1
networkx==3.1
numba==0.56.4
numpy==1.23.5
ordered-set==4.1.0
packaging==23.0
pandapower==2.11.1
pandas==2.0.0
Pillow==9.5.0
plotly==5.14.1
psycopg2-binary==2.9.6
pycparser==2.21
Pygments==2.14.0
pymongo==4.3.3
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
scipy==1.10.1
shapely==2.0.1
six==1.16.0
snowballstemmer==2.2.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tenacity==8.2.2
texttable==1.6.7
tomli==2.0.1
tqdm==4.65.0
tzdata==2023.3
urllib3==1.26.15
XlsxWriter==3.0.9
